@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 32px;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  padding: 10px 30px 10px 10px;
}

#root {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html, body, #root {
  height: 100%;
}

/* Ensure minimum touch target size */
button,
a,
[role='button'] {
  min-width: 44px;
  min-height: 44px;
}

fieldset {
  padding: 12px;
  margin: inherit;
}